@import "config";

form {
	@include span(12);
	margin-bottom: gutter();

	fieldset {
		border: 0;
	}
	.field {
		@include span(6 of 12);
		&.email, &.dropdown {
			@include span(6 of 12 last);
		}
		&.textarea {
			@include span(12);
		}
	}
	input, textarea, select {
		@include span(12);
		border-radius: 0px;
		display: block;
		padding: 10px 12px;
		font-size: 15px;
		line-height: 1.5;
		color: #555;
		background-image: none;
		border: 1px solid #CCC;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset;
		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		&:focus {
			border-left: 2px solid;
			border-color: #66AFE9;
			outline: 0px none;
			box-shadow: 0px 1px rgba(0,0,0,0.075) inset, 0px 0px 8px rgba(102,175,233,0.6);
		}
		&.action {
			@include span(4);
			margin: 0 0 25px 15px;
		}
	}
	textarea {
		resize: vertical;
	}

	/* FIELD FORMATING
	---------------------------------------- */
	ul {
		list-style: none;
	}
	.middleColumn {
		//display: block;
		margin: 0 10px 10px 0;

		.middleColumn {
			margin-right: 0;
		}
		.message {
			margin: 0;
		}
	}

	/* SELECT DROPDOWN
	---------------------------------------- */
	select {
		//width: auto;
	}

	/* LABELS
	---------------------------------------- */
	.typography label {

		display: inline-block;
		max-width: 100%;
		font-weight: 700;
		margin: 10px 0 5px;
		color: $text-color;
		font-size: $font-size;
	}
	label.right {
		display: inline;
	}

	/* CHECKBOXES
	---------------------------------------- */
	ul.optionset {
		margin: 0;
		overflow: hidden;

		li {
			margin: 6px 0;
			clear: both;

			input {
				float: left;
				margin: 0 6px;
			}
			label {
				margin: 0;
			}
		}
	}

	/* MESSAGEBOXS
	--------------------------------------------- */
	.message, .required {
		display: block;
		padding: 5px;
		border: 4px solid;
	}
	.middleColumn .message, .required {
		margin: 4px 0 0 3px;
	}
	.message {
		margin: 15px;
		color: #979908;
		border-color: #F7F8B4;
		background: #FFFFEA;
	}
	.required {
		color: #DC1313;
		border-color: #FF7373;
		background: #FED0D0;
	}
}
.thankyou-message {
	color: $color-blue-dark;
	font-weight: 600;
}
