@import "config";

header {
	background: $color-blue-dark;
	position: relative;
	z-index: 450;
	padding: 10px $section-gutter;
	@include susy-clearfix;

	a {
		color: #FFF;
	}
	.logo {
		display: block;
		float: left;
		width: 176px;

		h1 {
			margin: 0;
			padding: 0;
			display: block;
			@include hide-text(right);
			height: 50px;
			background: left center no-repeat image-url('logo.png');
			@include background-size(contain);
		}
	}
	.toggle-nav {
		@include button-reset;
		width: 40px;
		height: 40px;
		margin: 5px 10px 0 0;
		cursor: pointer;
		float: right;

		span {
			vertical-align: top;
			position: relative;
			margin: 0 6px;

			&, &:before, &:after {
				display: block;
				background: #FFF;
				height: 3px;
				@include border-radius(3px);
			}
			&:before, &:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
			}
			&:before {
				top: -8px;
			}
			&:after {
				bottom: -8px;
			}
		}

	}
	ul.navigation {
		display: none;
		clear: both;
		padding: 10px 0 0;
		list-style: none;
		margin: 0;
		@include susy-clearfix;

		li {
			display: block;
			text-align: center;
			margin: 0;
			padding: 10px;

			a {
				color: $color-blue-light;

				&:hover {
					color: darken($color-blue-light, 10%);
					text-decoration: none;
				}
			}
		}
	}
}

@include breakpoint-with-fallback(700px) {
	.header-push {
		height: 60px;
	}
	header {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;

		.toggle-nav {
			display: none;
		}
		ul.navigation {
			display: block !important;
			text-align: right;
			margin: 0 0 0 190px;
			clear: none;

			li {
				display: inline-block;
				padding: 5px;
			}
		}
	}
}
