@import "config";

.container, .section-inner-container {
	@include container;
}

.section {
	.section-title {
		text-align: center;
		@include rem((font-size: 30px));
		@include breakpoint-with-fallback($breakpoint-medium) {
			@include rem((font-size: 36px));
		}
		@include breakpoint-with-fallback(800px) {
			@include rem((font-size: 40px));
		}
	}
	.section-inner {
		position: relative;
		padding: $section-gutter;

		&.section-size-small {
			height: 300px;
		}
		&.section-size-medium {
			height: 500px;
		}
		&.section-size-large {
			min-height: 500px;
			max-height: 700px;
			height: 100vh;
		}
		&.section-size-full {
			min-height: 500px;
			height: 100vh;
			max-height: 1200px;
		}
	}
	&.section-type-SectionSchedule {
		.background-grey-light {
			background: $color-grey-light;
		}
		.background-blue-dark {
			background: $color-blue-dark;

			.typography {
				color: #FFF;
			}
		}
		.section-inner {
			.content {
				margin: 0 0 -18px;
			}
		}
		ul#tabs {
			@include span(12 of 12);
			margin-bottom: 0px;
			text-align: center;
			margin-left: 1.5rem;
			li {
				@include span(4 of 12 last);
				float: left;
				padding: 10px 10px 5px;
				list-style: none;
				cursor: pointer;
				border: 1px solid $color-blue-dark;
				border-radius: 5px 5px 0 0;
				margin-bottom: -1px;
			}
			li.inactive {
				background-color: #888;
			}
			li.active {
				background-color: #ccc;
				border-bottom: 1px solid #ccc;
			}
		}
		ul#tab {
			li {
				@include span(12 last);
				list-style: none;
				border: 1px solid $color-blue-dark;
				padding: 10px;
				margin: 0px;
				background-color: #ccc;
			}
			.inactive {
				display: none;
			}
			.active {
				display: block;
				height: 200px;
				overflow-y: auto;
				overflow-x: hidden;
			}
		}
	}
	&.section-type-SectionContent {
		.background-grey-light {
			background: $color-grey-light;
		}
		.background-blue-dark {
			background: $color-blue-dark;

			.typography {
				color: #FFF;
			}
		}
		.section-inner {
			.content {
				margin: 0 0 -18px;
			}
		}
	}
	&.section-type-SectionBanner {
		padding: 0;
		overflow: hidden;

		.background {
			background: center center no-repeat;
			@include background-size(cover);
			position: relative;

			//&:before, &:after {
			//	display: block;
			//	content: '';
			//	position: absolute;
			//	left: 0;
			//	right: 0;
			//	height: 5px;
			//	background: #FFF repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba($color-grey-dark, .3) 5px, rgba($color-grey-dark, .3) 7px);
			//}
			//&:before {
			//	top: -5px;
			//}
			//&:after {
			//	bottom: -5px;
			//}

			.background-overlay {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				&.background-blue {
					background: rgba($color-blue, .5);
				}
			}
		}
	}
	&.section-type-SectionMap {
		.section-map-marker-content {
			display: none;
		}
	}
}

@media (max-width:480px) {
	.section .section-inner {
		padding: 10px 15px;
		&.section-size-medium {
			height: 275px;
		}
	}
}

