@import "config";
.sponsor-item  {
	margin-bottom: gutter();
	img {
		max-width: 100%;
	}
	&.platinum, &.gold {
		@include span(12);
		.logo-left {
			@include span(3 of 12);
		}
		.logo-right {
			@include span(3 of 12 last);
			margin-bottom: gutter();
		}
		.content-left {
			@include span(9 of 12);
		}
		.content-right {
			@include span(9 of 12 last);
			margin-bottom: gutter();
		}
	}
	&.silver, &.bronze {
		@include span(6);
		&.even {
			@include span(last);
		}
		.logo-left {
			@include span(2 of 6);
		}
		.content-left {
			@include span(4 of 6);
		}
		.content-right {
			@include span(4 of 6 last);
			margin-bottom: gutter();
		}
		.logo-right {
			@include span(2 of 6 last);
			margin-bottom: gutter();
		}
	}
	&.principal {
		margin-bottom: gutter();
	}
}
